<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ValidTravelProduct</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="springDemo">
<div class="container" style="margin-top: 30px" ng-controller="AppCtrl">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">List validTravelProduct</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>validTravelProduct</label>
                            <input type="text" class="form-control" ng-model="validTravelProductCopy.OperatorCd">
                        </div>
                        <button type="button" class="btn btn-default" ng-click = "saveValidTravelProduct(validTravelProductCopy)">Save</button>
                    </form>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <!--<th>#</th>-->
                        <th>OPERATOR_CD</th>
                        <th>PROD_CD</th>
                        <th>BROCHURE_CD</th>
                        <th>VIEW_LOGON_CD</th>
                        <th>PRINCIPAL_CD</th>
                        <th>DIARY_CYCLE_CD</th>
                        <th>INACTIVE_DATE</th>
                        <th>INACTIVE_IND</th>
                        <th>TICKET_REQD_IND</th>
                        <th>OWN_LABEL_BRAND</th>
                        <th>ATOL_NUM</th>
                        <th>SALES_MIX_GRP_CD</th>
                        <th>CANX_LETTER_REQ_IND</th>
                        <th>TICKET_MODE</th>
                        <th>ARRANGEMENT_FEE_IND</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="validTravelProduct in validTravelProduct.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                        <!--<th scope="row">{{ $index +1 }} </th>-->
                        <td>{{validTravelProduct.operatorCd}}</td>
                        <!--<td>{{item.branchBudgetCtr}}</td>-->
                        <td ng-click = "selectValidTravelProduct(validTravelProduct)"> {{validTravelProduct.prodCd}}</td>
                        <td>{{validTravelProduct.brochureCd}}</td>
                        <td>{{validTravelProduct.viewLogonCd}}</td>
                        <td>{{validTravelProduct.principalCd}}</td>
                        <td>{{validTravelProduct.diaryCycleCd}}</td>
                        <td>{{validTravelProduct.inactiveDate}}</td>
                        <td>{{validTravelProduct.inactiveInd}}</td>
                        <td>{{validTravelProduct.ticketReqdInd}}</td>
                        <td>{{validTravelProduct.ownLabelBrand}}</td>
                        <td>{{validTravelProduct.atolNum}}</td>
                        <td>{{validTravelProduct.salesMixGrpCd}}</td>
                        <td>{{validTravelProduct.canxLetterReqInd}}</td>
                        <td>{{validTravelProduct.ticketMode}}</td>
                        <td>{{validTravelProduct.arrangementFeeInd}}</td>
                    </tr>
                    </tbody>
                </table>
                View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
            </select> records at a time.

                <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                            boundary-links="true" rotate="false" num-pages="numPages"
                            items-per-page="itemsPerPage"></pagination>
                <pre>Page: {{currentPage}} / {{numPages}}</pre>
            </div>
        </div>
    </div>
</div>


</body>
</html>